@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web App using MVC consuming webapi</h1>
    <p class="lead"> The main idea of the application is to consume an api and filter result in order to show them to users.</p>
    <p class="lead"> It also implement unit testing.</p>
    <p class="lead"> Components of the application</p>

    <ul>
        <li>MVC</li>
        <li>Jquery</li>
        <li>Bootstrap</li>
        <li>Linq</li>
        <li>Alertify</li>
    </ul>

</div>
